<div class="card text-center bg-secondary">
    <div class="card-header">
        <h2>Modifica cliente</h2>
    </div>
    <div class="card-body">
        <label for="id">ID:</label>
        <input type="text" [(ngModel)]="client.id" name="id" class="form-control mb-2">
        <label for="ragioneSociale">Ragione sociale:</label>
        <input type="text" [(ngModel)]="client.ragioneSociale" name="ragioneSociale" class="form-control mb-2">
        <label for="partitaIva">Partita IVA:</label>
        <input type="text" [(ngModel)]="client.partitaIva" name="partitaIva" class="form-control mb-2">
        <label for="tipoCliente">Tipo cliente:</label>
        <input type="text" [(ngModel)]="client.tipoCliente" name="tipoCliente" class="form-control mb-2">
        <label for="pec">PEC:</label>
        <input type="text" [(ngModel)]="client.pec" name="pec" class="form-control mb-2">
        <label for="telefono">Telefono:</label>
        <input type="text" [(ngModel)]="client.telefono" name="telefono" class="form-control mb-2">
        <label for="nomeContatto">Nome contatto:</label>
        <input type="text" [(ngModel)]="client.nomeContatto" name="nomeContatto" class="form-control mb-2">
        <label for="cognomeContatto">Cognome contatto:</label>
        <input type="text" [(ngModel)]="client.cognomeContatto" name="cognomeContatto" class="form-control mb-2">
        <label for="telefonoContatto">Telefono contatto:</label>
        <input type="text" [(ngModel)]="client.telefonoContatto" name="telefonoContatto" class="form-control mb-2">
        <label for="emailContatto">Email contatto:</label>
        <input type="text" [(ngModel)]="client.emailContatto" name="emailContatto" class="form-control mb-2">
<!-- sede operativa -->
        <div class="container text-left mb-5">
            <h3>Indirizzo sede operativa:</h3>
            <label for="via">Via:</label>
            <input type="text" [(ngModel)]="client.indirizzoSedeOperativa.via" name="via" class="form-control mb-2">
            <label for="civico">Numero civico:</label>
            <input type="text" [(ngModel)]="client.indirizzoSedeOperativa.civico" name="civico"
                class="form-control mb-2">
            <label for="cap">CAP:</label>
            <input type="text" [(ngModel)]="client.indirizzoSedeOperativa.cap" name="cap" class="form-control mb-2">
            <label for="localita">Località:</label>
            <input type="text" [(ngModel)]="client.indirizzoSedeOperativa.localita" name="localita"
                class="form-control mb-2">

            <div class="container text-left">
                <h3>Comune:</h3>
                <label for="id">ID:</label>
                <input type="text" [(ngModel)]="client.indirizzoSedeOperativa.comune.id" name="via"
                    class="form-control mb-2">
                <label for="nome">Nome</label>
                <input type="text" [(ngModel)]="client.indirizzoSedeOperativa.comune.nome" name="nome"
                    class="form-control mb-2">

                <div class="container">
                    <h5>Provincia:</h5>
                    <label for="nomeProv"></label>
                    <input type="text" [(ngModel)]="client.indirizzoSedeOperativa.comune.provincia.nome" name="nomeProv"
                        class="form-control mb-2">
                    <label for="sigla">Sigla provincia:</label>
                    <input type="text" [(ngModel)]="client.indirizzoSedeOperativa.comune.provincia.sigla" name="sigla"
                        class="form-control mb-2">
                </div>

            </div>
        </div>
        <div class="container text-left">
            <h3>Indirizzo sede legale:</h3>
            <label for="via">Via:</label>
            <input type="text" [(ngModel)]="client.indirizzoSedeLegale.via" name="via" class="form-control mb-2">
            <label for="civico">Numero civico:</label>
            <input type="text" [(ngModel)]="client.indirizzoSedeLegale.civico" name="civico"
                class="form-control mb-2">
            <label for="cap">CAP:</label>
            <input type="text" [(ngModel)]="client.indirizzoSedeLegale.cap" name="cap" class="form-control mb-2">
            <label for="localita">Località:</label>
            <input type="text" [(ngModel)]="client.indirizzoSedeLegale.localita" name="localita"
                class="form-control mb-2">

            <div class="container text-left">
                <h3>Comune:</h3>
                <label for="id">ID:</label>
                <input type="text" [(ngModel)]="client.indirizzoSedeLegale.comune.id" name="via"
                    class="form-control mb-2">
                <label for="nome">Nome</label>
                <input type="text" [(ngModel)]="client.indirizzoSedeLegale.comune.nome" name="nome"
                    class="form-control mb-2">

                <div class="container">
                    <h5>Provincia:</h5>
                    <label for="nomeProv"></label>
                    <input type="text" [(ngModel)]="client.indirizzoSedeLegale.comune.provincia.nome" name="nomeProv"
                        class="form-control mb-2">
                    <label for="sigla">Sigla provincia:</label>
                    <input type="text" [(ngModel)]="client.indirizzoSedeLegale.comune.provincia.sigla" name="sigla"
                        class="form-control mb-2">
                </div>

            </div>
        </div>

        
        
        <label for="dataInserimento">Data inserimento:</label>
        <input type="text" [(ngModel)]="client.dataInserimento" name="dataInserimento" class="form-control mb-2">
        <label for="dataUltimoContatto">Data ultimo contatto:</label>
        <input type="text" [(ngModel)]="client.dataUltimoContatto" name="dataUltimoContatto" class="form-control mb-2">
        <label for="fatturatoAnnuale">Fatturato annuale:</label>
        <input type="text" [(ngModel)]="client.fatturatoAnnuale" name="fatturatoAnnuale" class="form-control mb-2">
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-dark" (click)="update()">Modifica cliente</button>
    </div>
</div>