<div class="card mb-5">
    <div class="card-header">
        Modifica fattura
    </div>
    <div class="card-body">

        <form>
            <label for="data">data fattura:</label>
            <input type="text" [(ngModel)]="fattura.data" name="data" class="form-control">
            <label for="numbero">numero fattura:</label>
            <input type="text" [(ngModel)]="fattura.numero" name="numero" class="form-control">
            <label for="anno">anno fattura</label>
            <input type="text" [(ngModel)]="fattura.anno" name="anno" class="form-control">
            <label for="importo">importo fattura</label>
            <input type="text" [(ngModel)]="fattura.importo" name="importo" class="form-control">
            <label for="stato">stato fattura:</label>
            <div>
                <select [(ngModel)]="fattura.stato" [ngModelOptions]="{standalone: true}">
                    <option [ngValue]="item" *ngFor="let item of stato">
                        {{item.nome}}
                    </option>
                </select>
            </div>
        </form>
    </div>
    <div class="card-footer">
        <button type="button" class="btn bg-warning form-control" (click)="update()">Applica Modifiche &nbsp;<i
                class="bi bi-pencil-square"></i></button>
    </div>
</div>