<div class="container d-flex justify-content-center align-items-center">
    <div class="card">
        <div class="card-header">
            Dettagli Provincia
        </div>
        <div class="card-body">
    
            <p class="card-text">id: {{provincia.id}}</p>
            <p class="card-text">provincia: {{provincia.nome}}, ({{provincia.sigla}})</p>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-warning"(click)="edit(provincia)">Modifica</button>
        </div>
    </div>
</div>
