<div id="background">
    <div id="carouselExampleIndicators" class="carousel slide mb-5" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active prima">
            </div>
            <div class="carousel-item seconda">
            </div>
            <div class="carousel-item terza">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </button>
    </div>
    <div class="card mb-3">
    
        <div class="card-body">
            <h5 class="card-title"><i class="bi bi-person-lines-fill"></i>&nbsp; Gestisci con facilità tutti i tuoi clienti</h5>
            <p class="card-text">Questo sito ti permette di tenere traccia di tutti i tuoi attuali clienti, ti permette di
                modificarli, di cancellarli e di aggiungerne di nuovi.</p>
        </div>
        <div class="card-footer ">
            <button type="button" class="btn btn-secondary float-right" (click)="clienti()">Visualizza i tuoi clienti</button>
        </div>
    </div>
    <div class="card mb-3">
    
        <div class="card-body">
            <h5 class="card-title"><i class="bi bi-file-earmark-text-fill"></i> &nbsp;Gestisci con ordine le tue fatture</h5>
            <p class="card-text">Questo sito offre tutti gli strumenti necessari per catalogare le tue fatture con ordine.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-secondary float-right" (click)="fatture()">Visualizza le tue fatture</button>
        </div>
    </div>
    <div class="card mb-3">
    
        <div class="card-body">
            <h5 class="card-title"><i class="bi bi-check-circle-fill"></i> &nbsp;Semplice e funzionale</h5>
            <p class="card-text">Grazie alla nostra abilità siamo riusciti a creare un sito semplice da utilizzare e adatto ad ogni esigenza.</p>
        </div>
        <div class="card-footer">
           
        </div>
    </div>
</div>