<div class="container-fluid bg-dark text-light">
    <div class="row">
        <div class="col-sm">
            <address>
                <div>
                    <small>
                        <i>Via: 5 maggio 1848 n.38</i>
                    </small>
                </div>
                <div>
                    <small>
                        <i>Email: compagniaXy@gmail.com</i>
                    </small>
                </div>
                <div>
                    <small>
                        <i>Sito web: www.CompagniaXY.com</i>
                    </small>
                </div>

            </address>
        </div>
        <div class="col-sm">
           <small> &copy;Azienda xy all right reserved.</small>
        </div>
        <div class="col-sm">
            <aside>Iscriviti alla nostra newsletter..</aside>
            <form class="form-inline">
                <input type="email" placeholder="inserisci email.." >
                <input type="password" placeholder="inserisci la password.." >
            </form>
        </div>
    </div>
</div>